body {
  font-family: "poppins",sans-serif;
  font-family: Poppins-Regular;
}
/*---------------------
    Navbar
-----------------------*/

li a:hover {
	color:#0000;
	text-decoration:underline;
  }

  
.nav1 .nav-link {
  color: #000000;
}



